@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap&family=Coiny&display=swap');

    /* ==============================
       Estilos de página
       ============================== */
       body {
        font-family: "Coiny", system-ui; /* Fuente principal */
        margin: 0; /* Elimina el margen exterior */
        padding: 0; /* Elimina el relleno */
        background-color: #fa84dc; /* Color de fondo */
        color: #0e0e0e; /* Color de texto */
    }

    /* ==============================
       encabezado
       ============================== */
    header {
        font-family: "Kalnia Glaze", serif;
        background-color: #fbc5ec; /* Color de fondo */
        color: #fc899a; /* Color del texto */
        text-align: center; /* Centra el texto */
        padding: 30px; /* Espaciado interno */
    }

    /* ==============================
       contenido
       ============================== */
    main {
        max-width: 800px; /* Ancho máximo del contenido */
        margin: 20px auto; /* Centrar en la página */
        background: rgba(255, 179, 179, 0); /* Fondo blanco */
        padding: 20px; /* Espaciado interno */
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 0px 0px 50px rgb(255, 0, 115); /* Sombra ligera */
        text-align: center; /* Centra el texto */
    }

    /* ==============================
      imagen de perfil
       ============================== */
    .perfil img {
        width: 200px; /* Ancho de la imagen */
        height: 200px; /* Altura de la imagen */
        border-radius: 25%; /* Imagen rectangular */
        border: 3px solid #fa0aa2; /* Borde */
        object-fit: cover; /* Ajustar imagen */
    }
    
    /* ==============================
       Estilos de la lista
       ============================== */
    ul {
        list-style-type: none; /* viñetas */
        padding: 20; /* espaciado */
    }

    /* ==============================
       enlaces
       ============================== */
    a {
        color: #d62fe8; /* Color */
        text-decoration: tinknesse; /* Sin subrayado */
        font-weight: bold; /* Negrita */
    }

    a:hover {
        text-decoration: underline; /* Subrayado al pasar el mouse */
    }

    /* ==============================
       pie de página
       ============================== */
    footer {
        background-color: #fbc5ec; /* Color de fondo */
        color: rgb(251, 105, 188); /* Color del texto */
        text-align: center; /* Centra el texto */
        padding: 20px; /* Espaciado interno */
        margin-top: 40px; /* Separación superior */
    }